.bash_profile 
.bashrc 
.joe_state
.forever/ 
.sagemathcloud/ 
.snapshots/ 
.bash_history
.cache/
.ssh/
*.sage-chat 
*.sage-history 
.trash/ 
*.term 
*.log 
*-blx.bib 
*.aux 
*.bbl 
*.blg 
*.out 
*.run.xml 
*.synctex.gz

*.pdf
